@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #e48716;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 4px;
}

h2{
    color: aliceblue;
}

.header{
    height: 100vh;
    background-image: url(/img/PolygonLuminary.svg);
    background-size: cover;
}

.site-name{
    letter-spacing: 4px;
    font-weight: bold;
}

.site-name:hover{
    color: #e48716;
    scale: 1.1;
}

.fs-2{
    color: #e48716;
}

.btn{
    margin: 3px;
    font-weight: bold;
}

.log-in{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #cc7a14;
    color: #1f2033;
    padding: 13px 22px 10px 22px;
    background-color: #e48716;
}

.log-in:hover{
    color:  #1f2033;
    background-color: #e48716;
    border-bottom: 4px solid #e48716;
    margin-right: 6px;
    scale: 1.1;
}

.sign-in{
    border: 1px solid #e38716;
    border-bottom: 4px solid #e48716;
    color: #e48716;
    margin-right: 6px;
    padding: 13px 22px 10px 22px;
}

.sign-in:hover{
    color: #1f2033;
    background-color: #e38716;
    border: 1px solid #cd9147;
    border-bottom: 4px solid #cd9147;
    margin-left: 6px;
    scale: 1.1;
}

nav img{
    width: 10%;
    height: 10%;
}

.row-header{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-card{
    position:absolute;
    transition: transform 800ms cubic-bezier(.02,1,.81,1.02);
}

.big-card:nth-child(1){
    transform: translateX(40%) translateY(-40%) rotate(-10deg);
}
.big-card:nth-child(2){
    transform: translateX(25%) translateY(-40%) rotate(-35deg);
}
.big-card:nth-child(3){
    transform: translateX(50%) translateY(-40%) rotate(20deg);
}

.card-group:hover > .big-card:nth-child(1){
    transform: translateX(40%) translateY(-20%) rotate(-10deg);
}
.card-group:hover > .big-card:nth-child(2){
    transform: translateX(-13%) translateY(-60%) rotate(-2deg);
}
.card-group:hover > .big-card:nth-child(3){
    transform: translateX(80%) translateY(-55%) rotate(-4deg);
}