@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    height: 100vh;
    background-color: #1f2033;
}

.site-name{
    letter-spacing: 4px;
    font-weight: bold;
}

.fs-2{
    color: #e38716;
}

.btn{
    margin: 3px;
    font-weight: bold;
}

.log-in{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #cc7a14;
    color: #1f2033;
    padding: 10px 20px 8px 20px;
    background-color: #e38716;
    opacity: 0.9;
}

.log-in:hover{
    color:  #1f2033;
    opacity: 1;
    background-color: #e38716;
    border-bottom: 4px solid #cc7a14;
}

.sign-in{
    opacity: 0.9;
    border: 1px solid #e38716;
    border-bottom: 4px solid #cd9147;
    color: #e38716;
    padding: 10px 20px 8px 20px;
}

.sign-in:hover{
    opacity: 1;
    color: #1f2033;
    background-color: #e38716;
    border: 1px solid #cd9147;
    border-bottom: 4px solid #cd9147;
}

nav img{
    width: 10%;
    height: 10%;
}
