@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.primary-text-color{
    color: #e48716;
}

.secondary-text-color{
    color: #1f2033;
}

.tertiary-text-color{
    color: #fcf3e8;
}

.spacing-4{
    letter-spacing: 4px;
}

.text-bold{
    font-weight: bold;
}

.hidden{
   visibility: hidden; 
}

.header-viewport{
    height: 72vh;
}

.font-s-21{
    font-size: 21px;
}

.primary-border{
    border: 1px solid #e48716;
}

.primary-background{
    background-color: #e48716;
}

.form-control::placeholder{
    color:#fcf3e8;
    filter: brightness(39%);
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 65px;
    text-shadow: 2px 2px 2px #1f2033;
}

nav img{
    width: 10%;
    height: 10%;
}
small{
    color: red!important;
}
a{
    text-decoration: none;
}
.header{
    height: 100vh;
    background-color: #161618;
}

.header-svg{
    background-image: url(/img/PolygonLuminary.svg);
    background-size: cover;
}

.steam{
    padding: 10px;
    background: rgb(20,35,60);
    background: linear-gradient(175deg, rgba(20,35,60,1) 0%, rgba(16,136,181,1) 100%);
}

.site-name:hover{
    color: #e48716;
    scale: 1.1;
}

.btn-default{
    margin: 3px;
    border-bottom: 4px solid #e48716;
    padding: 11px 19px 9px 19px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .6s;
}

.btn-big{
    width: 100%;
}

.log-in{
    border-top: none;
    border-left: none;
    border-right: none;
}

.log-in:hover{
    color:  #1f2033;
    background-color: #e48716;
    border-bottom: 4px solid #cd9147;
    margin-right: 6px;
    scale: 1.1;
}
.sign-in{
    border-bottom: 4px solid #e48716;
    margin-right: 6px;
}

.sign-in:hover{
    color: #1f2033;
    background-color: #e38716;
    border: 1px solid #cd9147;
    border-bottom: 4px solid #cd9147;
    margin-left: 6px;
    scale: 1.1;
}
a:hover{
    scale: 1.1;
}

.row-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Register*/

.input{
    background-color: #2d2d2f;
}

.row-register{
    padding: 4%;
    border-radius: 17px;
}

.form-control:focus{
    background-color: transparent;
    color: #fcf3e8;
    border: 1px solid #e48716;
    box-shadow: 4px 4px #e48716;
}
input:-webkit-autofill{
    -webkit-text-fill-color: #fcf3e8 !important;
    -webkit-box-shadow: 0 0 0px 20px #2d2d2f inset!important;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 1rem;
}
.register-border{
    box-shadow: 0px 0px 300px 5px rgba(228,135,22,0.63);
}
.register-h1{
    text-align: center;
    padding-bottom: 30px;
}
.btn:disabled{
  border: 1px solid #e48716;
  background-color: #e48716;
  color: #fcf3e8;
}
/*Items + hover animation*/
.big-card{
    position: absolute;
    transition: transform 800ms cubic-bezier(.02,1,.81,1.02);
}

.showHide {
    float: right;
    margin-right: 12px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
    color: #fcf3e8;
}

.big-card:nth-child(1){
    transform: translateX(10%) translateY(-35%) rotate(-20deg);
}
.big-card:nth-child(2){
    transform: translateX(30%) translateY(-45%) rotate(1deg);
}
.big-card:nth-child(3){
    transform: translateX(50%) translateY(-55%) rotate(20deg);
}
.big-card:nth-child(4){
    transform: translateX(70%) translateY(-65%) rotate(40deg);
}
.big-card:nth-child(5){
    transform: translateX(40%) translateY(-47%) rotate(20deg);
}
.big-card:nth-child(6){
    transform: translateX(90%) translateY(-50%) rotate(30deg);
}

.card-group:hover > .big-card:nth-child(1){
    transform: translateX(40%) translateY(-10%) rotate(-10deg);
}
.card-group:hover > .big-card:nth-child(2){
    transform: translateX(-13%) translateY(-60%) rotate(-2deg);
}
.card-group:hover > .big-card:nth-child(3){
    transform: translateX(80%) translateY(-55%) rotate(-4deg);
}
.card-group:hover > .big-card:nth-child(4){
    transform: translateX(80%) translateY(-55%) rotate(-4deg);
}
.card-group:hover > .big-card:nth-child(5){
    transform: translateX(80%) translateY(-55%) rotate(-4deg);
}
.card-group:hover > .big-card:nth-child(6){
    transform: translateX(80%) translateY(-55%) rotate(-4deg);
}
