@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(22, 22, 24, 0.9);
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fcf3e8;
}

h2, h5{
    color: #fcf3e8;
    letter-spacing: 1.5px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #fcf3e8;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebarCollapse{
    background-color: #e38716;
    border-radius: 0;
    margin-left: 230px;
    transition: all 0.3s;
}

#sidebar {
    width: 250px;
    background: #161618;
    color: #fcf3e8;
    
}

#sidebar img{
    width: 50px;
    height: 50px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebarHeader {
    padding: 20px;
    background: #161618;
    transition: all 0.6s;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fcf3e8;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #e38716;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #e38716;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#main {
    min-height: 100vh;
    width: 80%;
    transition: all 0.3s;
    padding-top: 2%;
}

img.caseSmall {
    width: 35px;
}

.caseCount{
    float: left;
}

.caseCountEdit{
    float: right;
}

.fa-regular {
    cursor: pointer;
    font-size: 11px;
    font-weight: normal !important;
}

.fa-regular:hover{
    color: #e38716;
}

.addCase {
    background-color: #fcf3e8;
}

.addCase:hover{
    background-color: #e38716;
    color:#fcf3e8;
}

.dark{
    background: #161618;
    color:#fcf3e8;
}

.table-dark{
    --bs-table-bg: #161618!important;
}

.success{
    color: green;
}

.fail{
    color: red; 
}
.black{
    color: #161618;
}

.modal-header{
    border: none;
}

.modal-footer{
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    width: auto!important; 
    min-width: 100%; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 4px!important;
}

.dropdown-item {
    white-space: nowrap; 
    padding: 4px 8px;
}

.dropdown-item img {
    margin-right: 10px;
}

.dropdown-toggle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.page-link{ 
    background-color: transparent;
    border: none;
    color: #e38716;
    cursor: pointer;
}

.page-link:hover{
    background-color: transparent;
    color: #e38716;
    scale: 1.4;
}

.pagination .page-link:focus {
    outline: none;
    box-shadow: none;
  }
  
.pagination .page-item.disabled .page-link {
    --bs-pagination-disabled-bg: transparent;
  }

  .active>.page-link, .page-link.active{
    background-color: transparent;
    color: gray;
    cursor: default;
    border-color: none;  
  }